params {
    help = false

    data_dir
    db
    result_dir

    min_length = 1
    max_length = 2147483647
    min_qscore = 1

    threads = 4
}

timeline {
    enabled = true
    overwrite = true
    file = "${params.result_dir}/workflow-timeline.html"
}

report {
    enabled = true
    overwrite = true
    file = "${params.result_dir}/workflow-report.html"
}

conda.enabled = true
process.conda = "${projectDir}/amplimap_env.yaml"